

body{
    width: 100vw;
    overflow: hidden;
  }
.careers{
    display: flex;
   flex-direction: row;
   justify-content: center;
    align-items: center;
    height: 100vh;
    
    .left{
        margin-left: 6rem;
        background-color: rgb(244, 234, 214);
        // background-color: rgb(248, 244, 237);

        height: 30rem;
        display: flex;
        justify-content: center;
        margin-right: 30px;
        border-radius: 2px;

    }
    .left img{
        // width: 40%;
       width: 100%;
    }
    .right{
        margin-right: 6rem;
        // background-color: pink;
        .small_row{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 100%;
        }
        .submit_btn{
            width: 34rem;
            height: 3rem;
            font-size: 20px;
            font-weight: 400;
            background-color: #5fbda2;
            color: white;
            border: none;
            border-radius: 2px;
        }
        .submit_btn:hover{
            background-color: #4bad91;

        }

        .uploadCV{
            background-color: #5fbda2;

        }

    }
    .right{
        .message_box input{
            width:34rem;
             height:6rem;
             text-align:start;
             outline:none;
             border:1px solid gray;
             font-size:18px;
             padding:10px;
             margin-bottom:2rem;
            border-radius:2px;
            background-color:#f8f4ed;
        }
    }
}

@media only screen and (max-width:375px){
    .careers {
        display: flex;
        flex-direction: column;
    }
    .careers .left{
        width: 95%;
        margin: 10px 0;
    }
   
       .careers .right .small_row{
        width: 68%;
        margin-left: 100px;
    }

    .careers .right .message_box input{
        width: 22.3rem;
    }
    .careers .right .message_box{
        margin-left: 100px;
        
    }
    .careers .right .submit_btn {
        width: 22rem;       
        margin-left: 102px;
        margin-bottom: 3rem;
    }
}