
  h1 {
    font-size: 2.5rem;
    font-weight: 600;
  }
  p {
    font-size: 1.1rem;
  }
  .sec1 {
    width: fit-content;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 7rem;
    gap: 3rem;
    background: transparent url("../../assets//images/20.png");
    color: white;

    img {
      width: 40%;
    }
  }

  .sec2 {
    background: #f6f2fc;
    padding: 5rem;
    div {
      color: black;
      text-align: center;

      li {
        list-style: none;
        text-align: left;
        margin: 20px;
        font-size: 1.2rem;
        line-height: 40px;
      }
    }
  }


.sec3 {
  background: transparent url(../../assets//images/18.png);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 3rem;
  gap: 15rem;
  color: white;
  #container {
    width: 100%;
    #movingImage {
        width: 100%;
      animation: moveImage 3s linear infinite;
    }

    @keyframes moveImage {
      0%,
      100% {
        transform: translateX(-50%);
      }
      50% {
        transform: translateX(calc(-30%));
      }
    }
  }
}

.sec4 {
    background: #f6f2fc;
    color: black;
  p {
    text-align: left;
  }
  img {
    width: 30%;
    box-shadow: 1px 1px 20px rgb(183, 183, 183);
  }
}
@media (max-width: 768px) {
    .sec1{
        flex-direction: column;
        padding: 0 1.5rem;
        gap: 1rem;
        img{
            width: 60%;
        }
    }
    .sec2{
        padding: 2rem 0;
    }
    .sec3{
        padding: 2rem;
        display: block;
        #container {
            #movingImage {
            width: 60%;
            animation: none;
        }}
    }
    .sec4{
        padding: 2rem 1.5rem;
        img{
            width: 50%;
        }
    }
}