.admission-container {
  display: flex;
  flex-direction: row;
  padding: 7rem 4rem 4rem 4rem;
  background: #30ADC0;
  h1 {
    font-size: 2rem;
    font-weight: 600;
  }
  p {
    font-size: 1rem;
    margin-bottom: 0px;
  }
}
.sec1-Admission {
  text-align: left;
  padding: 1rem;
  transform: translate(0px, -50px);
  img{
    width: 14%;
  }
  .icons-box{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    margin-top: 20px;
    span{
      color: white;
    }
  }
  h1{
    color: white;
    text-align: left;
  }
  p{
    color: white;
    margin: 0;
    text-align: left;
    line-height: 2.4rem;
  }
}
.sec2-Admission {
  background-color: #e30045;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  padding: 1rem 2rem;
  padding-bottom: 2rem;
  margin-bottom: 40px;
  position: relative;
  img{
    position: absolute;
    top: -40px;
    right: -13px;
  }
  
  h1 {
    color: white;
  }

  button {
    color: white;
    margin-top: 25px;
  }
  input {
    padding: 1rem 2rem;
    border-style: none;
    background-color: rgb(219, 246, 246);
    margin: 10px;
    border-radius: 0.5rem;
    font-size: 1rem;
  }
}
@media (max-width: 768px){
    .admission-container {
        flex-direction: column;
        padding: 1rem;
    }
    .sec1-Admission{
        text-align: center;
        .icons-box{
            gap: 0;
         }
         img{
          width: 25%;
         }
    }

    .sec2-Admission{
        padding: .7rem;
        padding-bottom: 1rem;
        button{
            width: 40%;
        }
        .mssgBox{
            padding: 2rem 1.2rem;
        }
        input{
          width: 85%;
        }
    }
}