.hero {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  h1 {
    font-size: 4rem;
    position: absolute;
    z-index: 1;
  }
  .banner-box {
    padding: 10rem 5rem 5rem 5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: auto;
    background-color: #f6f2fc;
    width: 100%;
    .img-left {
      transform: translateY(-20%);
      transition: transform 0.3s ease;
      &:hover {
        transform: translateY(-24%);
      }
    }
    .centre-div {
      padding: 0 6rem;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      .count-box{
        padding: 0 3rem;
      }
      p:nth-child(1) {
        font-size: 1.3rem;
        font-weight: 500;
        border-bottom: 1px solid rgb(251, 181, 131);
      }
      p:nth-child(2) {
        font-size: 0.8rem;
        font-weight: 600;
      }
      .count1 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        .countUp {
          font-size: 2.5rem;
          font-weight: 700;
        }
      }
      .extra {
        align-items: flex-end;
      }
    }
    .img-right {
      transform: translate(0, 5%);
      transition: transform 0.3s ease;
      &:hover {
        transform: translateY(9%);
      }
    }
  }
  .hero-content {
    width: 100%;
    background-color: white;
    color: #333;
    width: 60%;
    padding: 5px 0 40px 0;
    text-align: center;

    h2 {
      font-size: 2.5rem;
      margin-bottom: 0.2rem;
      font-weight: 500;
    }

    h6 {
      font-size: 1.6rem;
      margin-top: 0.5rem;
      margin-bottom: 1.6rem;
      font-weight: 400;
    }

    p {
      font-size: 0.9rem;
      line-height: 1.6;
    }
  }
}

@media (max-width: 768px) {
  .hero {
    height: auto;
    width: auto;
    h1 {
      font-size: 2.5rem;
      background-color: #f6f2fc;
      position: static;
      transform: translateY(0);
      margin: 0;
    }
    .hero-content {
      width: 80%;
      padding: 0 0 25px 0;
    }
    .banner-box {
      flex-wrap: wrap;
      padding-top: 60px;
      .centre-div {
        padding: 0;
        .count-box{
          padding: 0;
        }
      }
      .img-left {
        width: 75%;
      }
      .img-right {
        width: 90%;
      }
    }
  }

  h6 {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
  }

  p {
    font-size: 0.7rem;
  }
}
