.App {
  text-align: center;
  position: relative;
}
.watsapp{
  height: 8vh;
  position: fixed;
  margin: 45px;
  bottom: 0;
  right: 0;
  transition: 300ms ease-in-out;
}
.watsapp:hover{
  transform: scale(1.2);
  cursor: pointer;
}
.watsapp{
  height: 6vh;
}



