@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&family=Montserrat:wght@200;400&family=Mulish:wght@300;400&family=Nunito:wght@300;400;500;600&family=Oswald:wght@500&family=Poppins:wght@300;400;500;600;700&family=Quicksand:wght@500&family=Roboto:wght@300;400&family=Space+Grotesk:wght@600&display=swap');
*{
  box-sizing: border-box;
}
*::-webkit-scrollbar{
  display: none;
}
body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}
button {
  background-color: #f9ba46;
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
  padding: 15px 25px;
  border-radius: 0.3rem;
  border-style: none;
  transition: transform 0.1s ease-in-out;
}
button:hover {
    background-color: #f3a616;
    color: white;
    cursor: pointer;
  }


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
